<!DOCTYPE html>
<html lang="de" ng-app="BlockApp">
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
		<link rel="stylesheet" href="block.css" />
	</head>
	<body>


		<div class="block_main" ng-controller="BlockController">

			<div id="block_header">
				<img src="pag.png"/>
			</div>

			<div id="block_login" ng-hide="credentials.valid">
				<form>
					<table style="margin: 5%; width: 90%; border: 1px solid grey; padding: 15px; border-radius: 10px;">
						<tr>
							<td style="width: 20%;">
								<label for="block_address" class="block_clickable">RPC IP Address</label>
							</td>
							<td style="width: 30%;">
								<input type="text" id="block_address" ng-model="credentials.address" />
							</td>
							<td style="width: 20%;">
								<label for="block_oort" class="block_clickable">RPC Port</label>
							</td>
							<td style="width: 30%;">
								<input type="text" id="block_oort" ng-model="credentials.port" />
							</td>
						</tr>
						<tr>
							<td style="width: 20%;">
								<label for="block_user" class="block_clickable">RPC Username</label>
							</td>
							<td style="width: 30%;">
								<input type="text" id="block_user" ng-model="credentials.username" />
							</td>
							<td style="width: 20%;">
								<label for="block_password" class="block_clickable">RPC Password</label>
							</td>
							<td style="width: 30%;">
								<input type="text" id="block_password" ng-model="credentials.password" />
							</td>
						</tr>
						<tr>
							<td colspan="4" style="text-align: center;">
								<input type="button" ng-click="credentials.connect()" class="block_clickable" style="width: 60%; margin-top: 30px; border-radius: 4px;" value="Connect"/>
							</td>
						</tr>
					</table>
				</form>
			</div>

			<div ng-show="credentials.valid">
				<div id="block_selection-pane">
					<h3>Select a VIN</h3>
					<ul>
						<li ng-repeat="item in stream.list" class="block_clickable block_vin-item" ng-click="stream.select(item.key)" ng-class="{ 'block_selected' : item.key == stream.selected }">
							{{ item.key }}
							<br/>
							{{ '(' + item.items + ' items)' }}
						</li>
					</ul>
				</div>

				<div id="block_details-pane">
					<h2 ng-show="stream.selected != null">VIN history for {{ stream.selected }}:</h2>
					<table id="block_details-table">
						<thead>
							<tr>
								<th>
									Amount
								</th>
								<th>
									Unit
								</th>
								<th>
									Price
								</th>
								<th>
									Provider
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in stream.items">
								<td>
									{{ item.chargeAmount }}
								</td>
								<td>
									{{ item.chargeUnit }}
								</td>
								<td>
									{{ item.price }}
								</td>
								<td>
									{{ item.provider.toUpperCase() }}
								</td>
							</tr>
						</tbody>
					</table>
					<hr/>
					<label>Grand total: {{ totalSum }} kwh</label>
				</div>

			</div>

		</div>

		<script type="text/javascript" src="block.js"></script>
	</body>
</html>
